html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.show {
  display: block !important;
}

.none {
  display: none;
}

.noscroll {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #dedede;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.row-limit-size {
  max-width: 1400px;
  width: 85%;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

#home {
  background-image: url(../img/workplace.png);
}

#projects {
  background-image: url(../img/project.png);
}

#resume {
  background-color: #dfbbfe;
}

#contact {
  background-color: #9bffca;
}

.section-header__container {
  width: 90%;
}

.section-header__container__nav {
  max-width: 800px;
  width: 70%;
  float: right;
}

.section-header__container__nav__li {
  line-height: 80px;
  width: 15%;
  text-align: center;
}

.section-header__container__nav__li__lien {
  font-size: calc(15px + .8vw);
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  height: 100%;
  color: #dedede;
}

.section__btns__btn {
  border: 2px solid #dedede;
  width: 40vw;
  max-width: 280px;
  height: 8vh;
  line-height: 8vh;
  text-align: center;
  cursor: pointer;
}

.section__btns__btn__text {
  font-size: calc(15px + .8vw);
  font-weight: 300;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section__btns__btn:hover {
  background-color: #dedede;
  color: #303030;
  font-weight: 400;
}

.first-btn {
  display: none;
}

.btns-s1 {
  margin: 5vh auto;
}

.btns-s2 {
  position: absolute;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  top: 85vh;
  left: 7.5vw;
}

.btn-back-s2 {
  margin-left: 5vw;
}

.section__content {
  margin: 0 auto;
}

.section__content__title {
  position: relative;
  text-transform: uppercase;
  font-size: calc(8px + 3vw);
  font-weight: 100;
  margin-bottom: 1vh;
}

.section__content__title > span {
  position: relative;
}

.section__content__para {
  text-transform: uppercase;
  font-size: calc(8px + 2vw);
  font-weight: 300;
  padding-top: 30px;
  text-align: justify;
}

.content-s1 {
  display: none;
  padding-top: 25vh;
}

.content-s2 {
  padding-top: 12vh;
  height: 68vh;
}

.projects {
  background-color: rgba(7, 7, 7, 0.6);
  width: 30vw;
  height: 50vh;
  border-radius: 15px;
  border: solid 2px #dedede;
  position: absolute;
  cursor: pointer;
}

.project1 {
  top: 12vh;
  right: 7.5vw;
}

.project2 {
  top: 18vh;
  right: 10vw;
}

.project3 {
  top: 24vh;
  right: 12.5vw;
}

.project4 {
  top: 30vh;
  right: 15vw;
}

#project-target {
  width: 40vw;
  height: 68vh;
  border-radius: 15px;
  position: absolute;
  top: 12vh;
  left: 7.5vw;
}

.project-selected {
  width: 40vw;
  height: 68vh;
  top: 12vh;
  left: 7.5vw;
  z-index: 2;
}

.projects:hover {
  background-color: #070707;
  z-index: 1;
}

.see-github {
  text-align: center;
  line-height: 68vh;
  font-size: 2vw;
}

.github-link {
  color: #dedede;
}

@media screen and (min-width: 1000px) {
  .max-font-size {
    font-size: 23px;
  }
}

@media screen and (max-width: 768px) {
  .row-limit-size {
    width: 92%;
  }
}

@media screen and (max-width: 500px) {
  .section-header__container {
    margin: 0 auto;
  }
  .section-header__container__nav {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */