// Importation reset CSS

@import 'reset.scss';

// Variables

$yellow: #feffc2;
$orange: #ffc39b;
$coral: #ffc1c1;
$purple: #dfbbfe;
$blue: #bacdff;
$green: #9bffca;

$font-family: 'Open Sans', Arial, Helvetica, sans-serif;
$color1: #dedede;
$color2: #070707;

// Général

.show{
    display: block !important;
}

.none{
    display: none;
}

.noscroll{
    height: 100%;
    overflow: hidden;
}

body{
    font-family: $font-family;
    color: $color1;
}

.sticky{
    position: sticky;
    top: 0;
}

.row-limit-size{
    max-width: 1400px;
    width: 85%;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.flex-around{
    display: flex;
    justify-content: space-around;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

// Section

.section{
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

#home{
    background-image: url(../img/workplace.png);
    
}

#projects{
    background-image: url(../img/project.png);
}

#resume{
    background-color: $purple;
}

#contact{
    background-color: $green;
}

// Section Header

.section-header__container{
    width: 90%;

    &__nav{
        max-width: 800px;
        width: 70%;
        float: right;

        &__li{
            line-height: 80px;
            width: 15%;
            text-align: center;

            &__lien{
                font-size: calc(15px + .8vw);
                text-decoration: none;
                text-transform: capitalize;
                display: block;
                height: 100%;
                color: $color1;
            }
        }
    }  
}

// Section Btn

.section__btns{

    &__btn{
        border: 2px solid $color1;
        width: 40vw;
        max-width: 280px;
        height : 8vh;
        line-height: 8vh;
        text-align: center;
        cursor: pointer;

        &__text{
            font-size: calc(15px + .8vw);
            font-weight: 300;
            user-select: none;
        }
    }

    &__btn:hover{
        background-color: $color1;
        color: #303030;
        font-weight: 400;
    }
}

.first-btn{
    display: none;
}

.btns-s1{
    margin: 5vh auto;
}

.btns-s2{
    position: absolute;
    justify-content: start;
    top : 85vh;
    left: 7.5vw;
}

.btn-back-s2{
    margin-left: 5vw;
}

// Section s1 content

.section__content{
    margin: 0 auto;

    &__title{
        position: relative;
        text-transform: uppercase;
        font-size: calc(8px + 3vw);
        font-weight: 100;
        margin-bottom: 1vh;
    }

    &__title > span{
        position: relative;
    }

    &__para{
        text-transform: uppercase;
        font-size: calc(8px + 2vw);
        font-weight: 300;
        padding-top: 30px;
        text-align: justify;
    }
}

.content-s1{
    display: none;
    padding-top: 25vh;
}

// Section s2 content

.content-s2{
    padding-top: 12vh;
    height: 68vh;
}

.projects{
    background-color: rgba($color2, .6);
    width: 30vw;
    height: 50vh;
    border-radius: 15px;
    border: solid 2px $color1;
    position: absolute;
    cursor: pointer;
}

.project1{
    top: 12vh;
    right: 7.5vw;
}

.project2{
    top: 18vh;
    right: 10vw;
}

.project3{
    top: 24vh;
    right: 12.5vw;
}

.project4{
    top: 30vh;
    right: 15vw;
}

#project-target{
    width: 40vw;
    height: 68vh;
    border-radius: 15px;
    position: absolute;
    top: 12vh;
    left: 7.5vw;
}

.project-selected{
    width: 40vw;
    height: 68vh;
    top: 12vh;
    left: 7.5vw;
    z-index: 2;
}

.projects:hover{
    background-color: $color2;
    z-index: 1;
}

.see-github{
    text-align: center;
    line-height: 68vh;
    font-size: 2vw;
}

.github-link{
    color: $color1;
}

// Media

@media screen and (min-width: 1000px) {
    .max-font-size{
        font-size: 23px;
    }
}

@media screen and (max-width: 768px) {
    .row-limit-size{
        width: 92%;
    }
}

@media screen and (max-width: 500px) {
    .section-header__container{
        margin: 0 auto;
        &__nav{
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
}